{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<h1>KVM</h1>

<div class='container border'>

  <br>

<!-- +++++++++++++ Another playbook +++++++++++++ -->

<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Playbook: kvm</h3>
  </div>

  <div class="panel-body">
    <pre id="playbook">
- hosts: localhost
  become: True
  roles:
    - kvm
    </pre>

    <form action="/get_vms" method="post">
      <button class="btn btn-default btn-lg center-block" name="forwardBtn" type="submit">Get VMs
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
      </button>
    </form>

    <br>

    <a href="/create_vm" class="btn btn-default btn-lg center-block">Create VM
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    </a>

  </div>

</div>

</div>



{% endblock %}
