<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <title>{{ ansible_hostname }} - {{ ansible_default_ipv4.address }}</title>
  </head>
  <body>

    <h1>
      {{ ansible_hostname }} - {{ ansible_default_ipv4.address }}
    </h1>

  </body>
</html>
