#
# {{ ansible_managed }} at {{ ansible_date_time.date }}
#

<VirtualHost *:{{ item.port }}>
    DocumentRoot "{{ apache2_document_root }}/{{ item.name }}"
    ServerName {{ item.server_name }}

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
    # Other directives here
</VirtualHost>
